/*Header*/

.header{
    display: flex;
    background-color: aqua;
    
}
.logo {
    display: flex;
    gap: 20 px  ;
    background-color: aqua;
}
.navbar {
    display: flex;
    gap: 50px;
    background-color: aquamarine;
    justify-content: center;
    
}
.navbar a {
    text-decoration: none;

}

.header-icon {
    display: flex;
    align-content: end;
    align-content: end;
}

.header .logo img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.logo-text{
    font-size: larger;
    font-weight: bold;
    align-content: center;
    padding-left: 5px;
}



h1, h2, h3, h4 {
    color: tomato;
    text-align: center;
    margin-top: 50px;font-size: xx-large;
    position: sticky;
    top: 0;

}
h3:hover{
    color:cyan; 
}
.hero {
    text-align: center;
    
}
.hero ul{
    list-style: none;
}

input:focus {
    color: brown;
    outline: none;
}
a:visited {
    color: burlywood;
}
.tomato {
    color:tomato
}

li:last-child {
    color: purple;
   
    
}
li:first-child {
    color: tomato;
}

li:nth-child(3n+1) {
    color:purple;
}

/*Css Positioning */
 .section-title {
    font-size: xx-large;
    font-weight: bolder;
    color: tomato;
    text-align: center;
    background-color: aquamarine;
 }

.box-boy {
    border: 2px dotted peru;
    text-align: center;
    
    
}
.box-ring {
    border: 2px dotted peru;
    text-align: center;;
    

}
.box-water {
    border: 2px dotted tomato;
    text-align: center;
    
}
.position ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        gap: 100px;
        padding: 50px;
}
.position ol{
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 50px;
        gap: 200px;
        
}
/*index&axis*/


.axis-index ul {
    display: flex;
    justify-content: space-around;
    
    gap: 100px;
    list-style: none;
    padding: 20px;

}
.axis-index li {
    flex: 1;
    background-color: bisque;
    padding: 15px;
  border-radius: 10px;

}

.Z-axis {
    position: relative;
    
}

.zzbox-boy {
    position: relative;
    top: 50px;
    z-index: 10;
    
}

.zzbox-ring {
    position: relative;
    z-index: 5;  
}

.zzbox-water {
    position: relative;
    bottom: 80px;
    z-index: 1;
}

.icons {
    position: relative;
    left: 45%;
}